  @{  ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="icon-boxes" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc1.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Cardio</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc2.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Free Weights</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc3.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Static Machines</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc4.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Weight Racks</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc5.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Functional Areas</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <img class="card-img" src="~/Content/Images/fc6.png" alt="Facilities Image">
                    <div class="card-img-overlay">
                        <h2 class="card-title pt-5 mt-2 display-5">Spinning Rooms</h2>
                        <p class="card-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus vitae adipisci cum explicabo, omnis porro tenetur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>