@using MVC_GymBase_ProjectDBS.Models
@model IndexViewModel
<!--Changed model from Prices to IndexView Model to allow access for StripePublishable Key
    Stripe Payment button has been added to prices page



-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<header id="page-header">

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Membership options</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea.</p>
            </div>
        </div>
    </div>
</header>

<section id="services" class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Yearly Membership</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">&euro;249.00</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <ul class="list-group text-left">
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> Full Access To All Our Gyms
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> Free Classes
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> A Complimentary PT Session
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> No Monthly Charges
                            </li>


                        </ul>
                        <!---Removed Get IT Button-->
                       <!--- @Html.ActionLink("Get It", "MemberType", "User", null, new { @class = "btn btn-danger btn-block mt-2" })--->

                    </div>
                    <!--Once Off Payment Plan-->
                    <form action="" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@Model.StripePublishableKey"> //Auto-Implemented Properties located in 'ManageViewModels - IndexViewModel'
                        </script>
                    </form>

                    <div class="card-footer text-muted">
                        <strong>1 Year</strong> Plan
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Monthly Membership</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">&euro;35.00/Month</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <ul class="list-group text-left">
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> Full Access To A Single Gym
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> Free Classes
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> No Contract
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> A Discounted PT Session
                            </li>
                        </ul>
                        <!---Removed Get IT Button-->
                        <!---@Html.ActionLink("Get It", "MemberType", "User", null, new { @class = "btn btn-primary btn-block mt-2" })--->
                    </div>
                    <!--Once Off Payment Plan-->
                    <form action="" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@Model.StripePublishableKey"> //Auto-Implemented Properties located in 'ManageViewModels - IndexViewModel'
                        </script>
                    </form>
                    <div class="card-footer text-muted">
                        <strong>Monthly</strong> Plan
                       
                    </div>
                </div>
            </div>
            


            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Day Pass</h3>
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title">&euro; 12.00/Day</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <ul class="list-group text-left">
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> Full Access To One Of Our Gyms
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"></i> No Contract
                            </li>
                            <li class="list-group-item text-white">
                                No Contract
                            </li>
                            <li class="list-group-item text-white">
                                No Contract
                            </li>

                        </ul>
                       
                        
                    </div>
                    <!---Removed Get IT Button-->                    
                    <!--Once Off Payment Plan-->
                    <form action="" method="POST">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="@Model.StripePublishableKey"> //Auto-Implemented Properties located in 'ManageViewModels - IndexViewModel'
                        </script>
                    </form>

                    <div class="card-footer text-muted">
                        <strong>Daily</strong> Plan
                    </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>