@model IEnumerable<MVC_GymBase_ProjectDBS.Models.Trainer>

@{
    ViewBag.Title = "Index";
}
<body style="background-image: url('../../Content/Images/B7.png');
<h2>Index</h2>

<p>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="gallery" class="py-5">

    <div class="container">
        <div class="text-center">
            <h1 class="text-center pt-0">Our Trainers</h1>
            <p class="text-center">Personal trainers can help produce a training plan built around your abilities and timeframe. They can help with motivation and nutrition.</p

                <button class="btn btn-success"></button>
                @if (Session["id"] == null)
                {
                    @Html.ActionLink("Book Now", "Login", "User", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Book Now", "AddPtSession", "Classes", null, new { @class = "btn btn-primary" })
                }
</div>

        <div class="row mt-5">
            <div class="col-md-4 mb-4">

                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t5.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t5.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t6.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t6.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t7.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t7.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t8.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t9.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t10.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t10.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t11.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t11.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t13.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t13.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t14.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t14.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 text-white text-center">
                    <a href="~/Content/Images/t15.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                        <img src="~/Content/Images/t15.jpg" class="img-fluid" alt="">
                    </a>
                    <div class="card-img-overlay ">
                        <h2 class="card-text  display-4">Dave</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>